.form-group
  label(for="post-title") Post title
  input.form-control#post-title(type="text" placeholder="Post title" name="title")
.form-group
  textarea.form-control#post-text(placeholder="Content" name="text" rows="5")
