h1 Text
form
  div(ui-view='')
  .form-group
    label(for="post-tags") Tags
    input.form-control#post-tags(disabled="disabled" type="text" name="tags")
  .form-inline
    button.btn.btn-success Post now
    | &nbsp;
    .form-group.pull-right
      button.btn.btn-default(disabled="disabled") Preview
      | &nbsp;
      button.btn.btn-default Cancel
