h1 Create new post
.post-types
  a.post-types__icon.post-types__text(ui-sref="admin.create-post.text")
  a.post-types__icon.post-types__photo(ui-sref="admin.create-post.photo")
  a.post-types__icon.post-types__video(ui-sref="admin.create-post.video")
