doctype html
html(lang='en', data-ng-app='app')
  head
    base(href="/")
    meta(charset='utf-8')
    title Easy Blog App
    meta(name='description', content='Wix Easy Blog application')
    meta(charset='utf-8')
    //- inject:css
    //- endinject

    script(type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.42.0/js/wix.min.js")

  body

    #app.app(ui-view='')
    //- inject:js
    //- endinject
