nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand Easy blog

.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      ul.nav.nav-sidebar
        li(ui-sref-active="active")
          a(ui-sref="admin.dashboard") Create a post
        li(ui-sref-active="active")
          a(ui-sref="admin.posts") Manage posts
        li(ui-sref-active="active")
          a(ui-sref="admin.contact") Contact

    .col-sm-9.col-md-10.main(ui-view='')
